.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: aliceblue;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: tomato;
}
